<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <ul class="nav navbar-nav" style="width:100%">
        <li style="width:30%"><a [routerLink]="['/viewall']" class="hrefHeight">View All</a> </li>
      
      
        <li style="width:30%"><a [routerLink]="['/create']" class="hrefHeight">Create</a></li>
      
      
        <li style="width:25%"><a [routerLink]="['/category']" class="hrefHeight">Category</a></li>
      
       
        <li style="width:10%"><a [routerLink]="['/track']" class="hrefHeight">Track</a></li>
  </ul>
</div>
</nav> 
<router-outlet></router-outlet>
  